h1, h2, h3, h4, h5, h6, p, li, label {
  font-family: 'Noto Sans JP', sans-serif;
  color: #3D3F3E;
  margin: 0;
}
h3,h4,h5,h6 {
  font-weight: 400;
}

h2{
  font-size: 24px;
}

h4{
  font-size: 14px;
}

h5 {
  font-size: 10px;
}

p {
  font-size: 14px;
}

a.anchor-Block {
  text-decoration: none;
  color: #3D3F3E;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;

  background-color: #F1EDE5;
  font-size: 14px;
  font-family: sans-serif;
}

header, footer {
  background-color: #97CEC9;
  color: #3D3F3E;

  width: 100%;
  height: 77px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

header li, footer p {
  font-family: 'Dela Gothic One', cursive;
}

header {
  position: sticky;
  top: 0;
  margin-top: 115px;
  font-size: 24px;
}

footer {
  font-size: 14px;
}

header ul {
  align-self: end;
}

header li {
  list-style-type: none;
}

main {
  padding: 36px 0;
  width: 94%;
  display: flex;
  flex-direction: row;
}

article {
  display: flex;
  flex-direction: column;
  flex-grow: 7;
}

article.content {
  background-color: #FFFFFF;
}

.dividor {
  width: 34px;
}

nav {
  flex-grow: 3;
  background-color: #FFFFFF;
  max-width: 289px;

  height: fit-content;

  padding: 19px 14px;
  font-size: 10px;
}

nav h4 {
  font-weight: 700;
}

.navBlock {
  margin-top: 19px;
  padding: 10px 4px 7px;

  /*font-size: 10px;*/
}

.navBlock li{
  list-style-type: none;
}

.bio {
  display: flex;
  flex-direction: column;

  padding: 8px 4px 27px;

  border-bottom: #F1EDE5 solid 1px;
}

.bioHeader-Block {
  margin-bottom: 11px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.bioImage-Block {
  margin-right: 9px;

  width: 32px;
  height: 32px;  
  border-radius: 16px;

  background-image: url("/static/blog/images/profile.jpeg");
  background-size: contain;
}

.bioDetails-Block {
  padding: 0 8px;
}

.tags-Block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 0 21px;
}

.years-Block {
  display: flex;
  flex-direction: column;
  padding: 0 21px;
}

.nav-Item {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 14px;

  background-color: #F1EDE5;

  width: 60px;
  height: 20px;
  border-radius: 5px;
}
