.articleSummary-Block {
  padding: 30px 20px;
  margin-top: 18px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
}

.articleSummary-Block:first-child {
  margin-top: 0;
}
.articleSummary-Block h2 {
  margin: 11px 0;
}

.reactions {
  display: flex;
  flex-direction: row;
  margin-top: 45px;
}

.reactions-spacer {
  width: 27px;
}

.img-Block {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 125px;
  height: 125px;
  background-color: #D9D9D9;
}
