{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Noto+Sans+JP:wght@400;700&display=block" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/common.css' %}">
    {% comment %}
    以下のスタイルシートは、本来は各htmlファイルに記述すべき
    {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/index.css' %}">
    <meta charset="UTF-8">
    <title>ホーム</title>
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
