<nav>
  <div class="bio">
    <div class="bioHeader-Block">
        <div class="bioImage-Block">
          <img />
        </div>
        <h4>
          masam
        </h4>
    </div>
    <div class="bioDetails-Block">
      <p>
        某SIer勤務の駆け出し新人エンジニア。興味の対象はスクラムとTDDとCI/CD。
        手持ちの武器は習ったばかりのJavaとPythonと、ちょっとのJavaScriptとTypeScript。
      </p>
      <p>
        このブログでは日々の勉強で学んだこととそれに対しての感想、あとは適当に思ったことを書いていきます。
      </p>
    </div>
  </div>
  <div class="navBlock tag">
    <h4>タグ</h4>
    <ul class="tags-Block">
      <li class="nav-Item">
        スクラム
      </li>
      </ul>
  </div>
  <div class="navBlock archive">
    <h4>月別アーカイブ</h4>
    <ul class="years-Block">
      <li class="nav-Item">2022年</li>
      <ul class="months-Block">
        <li class="nav-Item">1月</li>
        <li class="nav-Item">2月</li>
      </ul>
      <li class="nav-Item">2021年</li>
    </ul>
  </div>
</nav>
