<nav>
  <div class="bio">
    <div class="bioHeader-Block">
        <div class="bioImage-Block">
          <img />
        </div>
        <h4>
          masam
        </h4>
    </div>
    <div class="bioDetails-Block">
      <p>
        某SIer勤務の駆け出し新人エンジニア。興味の対象はスクラムとTDDとCI/CD。
        手持ちの武器は習ったばかりのJavaとPythonと、ちょっとのJavaScriptとTypeScript。
      </p>
      <p>
        このブログでは日々の勉強で学んだこととそれに対しての感想、あとは適当に思ったことを書いていきます。
      </p>
    </div>
  </div>
  <div class="navBlock tag">
    <h4>タグ</h4>
    <ul class="tags-Block">
      {% for tag in tags %}
        <li class="nav-Item">
          {{ tag.name }}
        </li>
      {% endfor %}
      </ul>
  </div>
  <div class="navBlock archive">
    <h4>年別アーカイブ</h4>
    <ul class="years-Block">
      {% for year in years %}
      <li class="nav-Item">{{ year | date:"Y年" }}</li>
      {% endfor %}
    </ul>
  </div>
</nav>
